//
//  Debug.xcconfig
//  SwiftUIDemo
//
//  Created by Yuchen Nie on 1/7/20.
//  Copyright © 2020 Yuchen Nie. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APPID = 33279e84e39112d80b08bb9a01252eed

//APPID = asdfasdflajsdnflkje39112d80b08bb9a01252eed
